.App {
  text-align: center;
}
.marquee {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-content {
  display: flex;
  width: max-content;
  gap: 50px;
  animation: scrollLeft 30s linear infinite;
}
.testt{
  width: fit-content;
}
@keyframes scrollLeft {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(-30%);
  }
}
.marquee-content:hover {
  animation-play-state: paused;
}
#imageGallery{
  height: 100vh;
}


.ourPartner-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.ourPartner-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: ourPartner-marquee 50s linear infinite;
}
.ourPartner-marquee:hover {
  animation-play-state: paused;
}
@keyframes ourPartner-marquee {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ourPartner{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.5s;
}

.ourPartner:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  transition: 0.5s; 
}
a{
  color: #D5ECF0;
}

@media (max-width: 992px) {
  .navMobile {
    display: block;
  }
  .navDec {
    display: none;
  }
  #imageGallery{
    height: 70vh;
  }
}
